html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div.header {
  position: absolute;
  left: 10px;
  top: 100px;
  background: #DDD;
  border: solid #040404 1px;
  border-radius: 3px;
  padding: 1rem;
}

svg {
  background: #CCC;
  height: 100%;
  width: 100%;
}

image.active {
  border: solid black 2px;
}