html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div.header {
  position: absolute;
  left: 10px;
  top: 100px;
  background: #DDD;
  border: solid #040404 1px;
  border-radius: 3px;
  padding: 1rem;
}

svg {
  background: #CCC;
  height: 100%;
  width: 100%;
}

canvas {
  /* display: none; */
  position: absolute;
}

image.active {
  border: solid black 2px;
}

.svg_icon {
  border: none;
  background-size: cover;
  height: 1.6rem;
  width: 1.6rem;
}

.svg_icon#pen {
  background-image: url(./pen_01.svg);
}
.svg_icon#pointer {
  background-image: url(./pointer.svg);
}
.svg_icon#undo {
  background-image: url(./undo.svg);
}

.svg_icon#save {
  background-image: url(./save.svg);
}

.svg_icon#addImage {
  background-image: url(./upload.svg);
}