/*Area Chart stuff*/
body {
    /*background: #888;*/
    font: 12px sans-serif;
}
            
svg {
    font: 12px sans-serif;
}

#header .title {
    font-size: 36px;
    font-weight: 300;
}

#header .subtitle {
    font-size: 24px;
    font-weight: 200;
}

#selector {
    position: absolute;
    top: 150px;
}

.legendTitle {
    font: sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.info {
    position: absolute;
    top: 180px;
}

div.info {
    position: absolute;
    width: 290px;
    min-height: 100px;
    padding: 10px;
    font: 12px sans-serif;
    /*background: #;*/
    /*border: solid 1px #777;*/
    border-radius: 3px;
    pointer-events: none;
}
            
div.info p {
    margin-top: 0;
    margin-bottom: 10px;
}
            
div.info h1, div.info h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

div.info h1, div.info h2, div.info h3{
    font-weight: normal;
}

.adm_2 {
    opacity: .8;
    stroke: black;
    stroke-width: 0.5px;
}

/*Pie Chart styles*/
.arc text {
    font: 20px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}
            
.tooltip {
    box-shadow: 0 0 5px #999999;
    display: none;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    /*
    text-align: center;
    */
    top: 95px;
    z-index: 10;
    line-height: 140%; /*Interlineado*/
    
    font-weight: 300;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

pie{
    display: inline-block;
}